<% provide(:title,"ホーム ")%>

<div class="home_content_left col-md-3">
  <%= render "shared/side_menu" %>
</div>
    
<div class="home_content_right col-md-9">
  <div class="top_title">
    <h1>LET'S VOLLEY BALL</h1>
      <small>LET'S VOLLEY BALLは<br>
        バレーボールを続けたいけどチームがない。<br>
        バレーボールをしている知り合いもいない.<br>
        チームを作ったのはいいけどポジションに合う人材が足りない。<br>
        バレーボールをするための環境を探すプレイヤーと人材が不足しているチームを繋ぐマッチングサイトです。<hr>
      </small>
  </div>
  <div class="sub_title"><h3>プレイヤーを探す</h3></div><br>
    <div class="row">
      <%= render "shared/player_card" %>       
    </div>
    <div class="details">
       <%= link_to 'もっと見る', "/players/" , class: 'nav-link' %>
    </div>
  <div class="sub_title"><h3>チームを探す</h3></div><br>
    <div class="row">
      <%= render "shared/team_card" %>
    </div>
    <div class="details">
      <%= link_to 'もっと見る', "/teams/" , class: 'nav-link' %>
    </div>
  <div class="sub_title"><h3>タイムラインをみる</h3></div><br>
    <% if @microposts.any? %>
      <ol class="microposts">
        <% @microposts.each do |micropost|%> 
          <li id="タイムライン<%= micropost.id %>">
            <%if micropost.user.image.attached? %>
              <%= image_tag micropost.user.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed %>   
            <% else %>
              <img class="img-top" src="http://placehold.it/80x80?text=LET'S VOLLEY BALL">
            <% end %>
            <span class="user"><%= link_to micropost.user.nickname, micropost.user %></span>
            <span class="content"><%= micropost.content %></span>
            <span class="timestamp">投稿時間　<%= time_ago_in_words(micropost.created_at) %>前.</span>
          </li>    
      <% end %> 
     </ol>
    <%= paginate @microposts %>
    <% end %> 
</div>

