<% @players.each do |player| %>
<div class="index_content col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title"><%= link_to "#{player.user.nickname}", user_path(player.user.id)%>( <small><%= player.prefecture%></small>)<small><%= player.gender %></small><hr></h4>
     
      
      <h5 class="card-subtitle" >希望ポジション(<%= player.available_day%>)</h5>
        <small class="position-name"><%= player.positions.pluck(:display_name).join(", ") %></small><hr>
        <p class="card-text"><%= player.comment%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">メッセージを送る</small>
      </div>
    </div>
</div>
<%end%>
