<div class="home_content_sidemenu">
<% if user_signed_in? %>
  <div class="home_content col-lg-9">
    <h2>ようこそ<br><%= current_user.nickname %>さん</h2>
      <span>タイムライン（<%= current_user.microposts.count %>）</span>
  <%unless current_user=@user %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <%else%>
    <hr>
  <%end%>
  </div>
<% end %>
<ul>
  <li>
    <%= link_to "ホーム", root_path %>
  </li>
  <hr>
  <li>
    <%= link_to "メッセージ", rooms_path%>
  </li>
  <hr>
  <li>
    <% if current_user %>
      <%= link_to "プロフィール", user_path(current_user.id) %>
    <% else %>
      <%= link_to "プロフィール", root_path %>
    <% end %>
  </li>
   <hr>
  <li>
    <%= link_to "タイムライン", microposts_path %>
  </li>
   <hr>
</ul>

<% if @team %>
   <p class="small">
      <%= link_to "マイチーム情報を編集する", edit_team_path(@team)%>
    </p>
  <% else %>
    <p class="small">
      <%= link_to "チーム情報の登録はこちらから", "/teams/new"%>
    </p>
<%end%>
<% if @player %>
   <p class="small">
      <%= link_to "マイプレイヤー情報を編集する", edit_player_path(@player)%>
    </p>
  <% else %>
    <p class="small">
      <%= link_to "プレイヤー情報の登録はこちらから", "/players/new"%>
    </p>
<%end%>
</div>
