<ul class="home_content_sidemenu">
  <li>
    <%= link_to "ホーム", root_path %>
  </li>
  <hr>
  <li>
    <%= link_to "メッセージ", rooms_path%>
  </li>
  <hr>
  <li>
    <% if current_user %>
      <%= link_to "プロフィール", user_path(current_user.id) %>
    <% else %>
      <%= link_to "プロフィール", root_path %>
    <% end %>
  </li>
   <hr>
  <li>
    <%= link_to "タイムライン","#"%>
  </li>
   <hr>
</ul>

<p class="small">
  <%= link_to "チーム情報の登録はこちらから","#"%>
</p>
<% if @player %>
   <p class="small">
      <%= link_to "マイプレイヤー情報", player_path(@player)%>
    </p>
  <% else %>
    <p class="small">
      <%= link_to "プレイヤー情報の登録はこちらから", "/players/new"%>
    </p>
<%end%>


