<div class="home_content_sidemenu">
<ul>
  <li>
    <%= link_to users_path, method: :get do %><i class="fa fa-home"></i>  ホーム<% end %>
  </li>
  <hr>
  <li>
    <%= link_to rooms_path, method: :get do%><i class="fas fa-envelope"></i>  メッセージ<% end %>
  </li>
  <hr>
  <li>
      <%= link_to user_path(current_user.id), method: :get do %><i class="fas fa-user-alt"></i>  プロフィール<% end %>
  </li>
   <hr>
  <li>
    <%= link_to microposts_path, method: :get do %><i class="fas fa-comment-dots"></i>  タイムライン<% end %>
  </li>
   <hr>
</ul>

<% if current_user.team.present? %>
   <div class="info-tag">
      <%= link_to "マイチーム情報を編集する", edit_team_path(current_user.team)%>
    </div>
  <% else %>
    <div class="info-tag">
      <%= link_to "チーム情報の登録はこちらから", "/teams/new"%>
    </div>
<%end%>
<% if current_user.player.present? %>
   <div class="info-tag">
      <%= link_to "マイプレイヤー情報を編集する", edit_player_path(current_user.player)%>
    </div>
  <% else %>
    <div class="info-tag">
      <%= link_to "プレイヤー情報の登録はこちらから", "/players/new"%>
    </div>
<%end%>
</div>
