<% @teams.each do |team| %>
<div class="index_content col-lg-4 col-md-6 col-sm-6 mb-4">
  <div class="card h-100">
    <%if team.user.image.attached? %>
      <%= image_tag  team.user.image.variant(resize:"200x200^")%>
    <% else %>
       <img class="card-img-top" src="http://placehold.it/700x400?text=LET'S VOLLEY BALL">
    <% end %>
    <div class="card-body">
      <h4 class="card-title"><%= link_to "#{team.name}", user_path(team.user.id)%>( <small><%= team.prefecture%></small>)<small><%= team.gender %></small><hr></h4>
      <h5 class="card-subtitle" >募集ポジション</h5>
        <small class="position-name"><%= team.positions.pluck(:display_name).join(", ") %></small><hr>
      <h5 class="card-subtitle" >練習日(<%= team.available_day%>)</h5><hr>
        <p class="card-text"><%= team.comment%></p>
    </div>
      <div class="card-footer">
        <small class="text-muted"><%= link_to "詳しく見る", user_path(team.user.id)%></small>
      </div>
  </div>
</div>
<%end%>


