<% provide(:title,"プレイヤー新規登録 ")%>

<div class="container-login p-4">
<h1>プレイヤー新規登録</h1>
  <%= form_for  @player do |f| %>
     
    <div class="form-group">
      <%= f.label :gender, "性別（必須）"%>
      <%= f.select :gender, Player.genders.keys, class: "form-control"%>          
    </div>

    <div class="form-group">
      <%= f.label :prefecture, '地域(必須)'%>
      <%= f.select :prefecture, Player.prefectures.keys,　class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :available_day, '練習参加可能日（必須）'%>
      <%= f.select :available_day, Player.available_days.keys, class: 'form-control'%>
    </div>

      <%= f.fields_for :positions do |position| %>
       <div class="form-group">
          <%= position.label :name, "ポジション（複数選択可）" %><br> 
          <%= position.check_box :name, value: "wing-spiker" %>
          <%= position.check_box :name, value: "middle-blocker" %>
          <%= position.check_box :name, value: "opposite" %>
          <%= position.check_box :name, value: "setter" %>
          <%= position.check_box :name, value: "libero" %>
        </div>
      <% end %>

    <div class="form-group">
      <%= f.label :comment, 'フリーコメント'%>
      <%= f.text_area :comment,class:'form-control'%>
    </div>
     
    <%= f.submit "登録する", class: "btn btn-primary" %>
  <% end %>
</div>