<% provide(:title,"プレイヤーマイページ")%>
 <table class="table.table.table-hover">
    <tbody>       
    
     <tr>
        <th>性別</th>
        <td><%=@player.gender%></td>
        
    </tr>
     <tr>
        <th>地域</th>
        <td><%= @player.prefecture %></td>
        
    </tr>
     <tr>
        <th>ポジション</th>
        <td><%= @player.position %></td>
       
    </tr>
     <tr>
        <th>練習参加可能日</th>
        <td><%= @player.schedule%></td>
        
    <tr>
        <th>フリーコメント</th>
        <td><%= @player.content %></td>
        
    </tr>          
    
    </tbody>
        <td><%= link_to '編集', edit_player_path,class:"btn btn-primary mr-3" %></td>
        <td><%= link_to '削除', @player, method: :delete,data:{confirm: "プレイヤー登録を削除します。よろしいですか？"},class: 'btn btn-primary' %></td>
 </table>