<% provide(:title,"メッセージ一覧 ")%>
<div class="container-field">
  <div class= "row">
    <div class="home_content_left col-md-3">
      <%= render "shared/side_menu" %>
    </div>
  
    <div class="home_content_right col-md-9">
      <h1 class="users-heading">メッセージ一覧</h1>
          <% @another_entries.each do |e| %>
            <div class="users-index-item">
              <div class="user-right">
                <%= link_to room_path(e.room.id) do %>
                  <%= e.user.nickname %> 
                  <small>更新日<%= e.room.messages.order(created_at: :desc).take.try(:created_at) %></small><br>
                <% end %>
                <%= e.room.messages.order(created_at: :desc).take.try(:content) %>
            
              </div>
            </div>
          <hr>
          <% end %>
      <%= link_to "ホームに戻る", users_path %>
    </div>
  </div>


