<% provide(:title,"メッセージ一覧 ")%>

<div class="home_content_left col-md-3">
  <%= render "shared/side_menu" %>
</div>
  
<div class="home_content_right col-md-9">
  <h1 class="users-heading">メッセージ一覧</h1>
    <% @another_entries.each do |entry| %>
      <div class="users-index-item">
        <div class="user-right">
          <%= link_to room_path(entry.room.id) do %>
            <%= entry.user.nickname %>さんからのメッセージ　
              <small> 更新日 <%= entry.room.messages.order(created_at: :desc).first.try(:created_at) %></small><br>
          <% end %>
            <%= entry.room.messages.order(created_at: :desc).first.try(:content) %>      
        </div>
      </div>
      <hr>
    <% end %>
  <%= link_to "ホームに戻る", users_path %>
</div>