<% provide(:title,"タイムライン")%>
  <div class="home_content_left col-md-3">
    <%= render "shared/side_menu" %>
  </div>
  
  <div class="home_content_right-timeline col-md-9">
    <h1><%= current_user.nickname %></h1>
      <div class="c">
         <%if current_user.image.attached? %>
          <div class="profile-image"><%= image_tag current_user.image.variant(resize:'250x200').processed %></div>
        <% else %>
          <img class="img-top" src="http://placehold.it/200x200?text=LET'S VOLLEY BALL">
        <% end %>
      </div>
      <div class="#">
        <span>タイムライン（<%= current_user.microposts.count %>）</span>
          <div class="stats">
            <%= render 'shared/stats' %>
          </div>
        <div class="micropost_form">
          <%= render "shared/micropost_form" %>
        </div>
      </div>
      <div>
        <h3>タイムライン</h3>
        <%= render 'shared/feed' %>
      </div>
  </div>